<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="QuanLyDiemSinhVien.Properties.Settings.QLDSVConnectionString"
            connectionString="Data Source=DESKTOP-EI49O32\TRANQUANGCHAU_1;Initial Catalog=QLDSV;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="QLDSVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-EI49O32\TRANQUANGCHAU_1;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />
        <add name="QLDSVConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-EI49O32\TRANQUANGCHAU_3;user id=;password=;initial catalog=QLDSV;Persist Security Info=true" />-->
      
      <add name="QuanLyDiemSinhVien.Properties.Settings.QLDSVConnectionString"
      connectionString="Data Source=DIEN-PC\SERVER1;Initial Catalog=CSDLPT_QLDSV;User ID=sa;Password=0000"
      providerName="System.Data.SqlClient" />
      <add name="QLDSVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DIEN-PC\SERVER1;user id=;password=;initial catalog=CSDLPT_QLDSV;Persist Security Info=true" />
      <add name="QLDSVConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DIEN-PC\SERVER3;user id=;password=;initial catalog=CSDLPT_QLDSV;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>